<h1>Amazing ToDo App</h1>
<h2>track your tasks!!</h2>
<hr>
<h4>Add New Tasks</h4>
<form #addForm="ngForm" (submit)="handleSubmit(addForm)">
    <input type="text" ngModel name="task">
    <button type="submit">Add task</button>
</form>
<hr>
<h3>Your Task</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Tasks</td>
            <td>Operations</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of tasks">
            <td>
                <span *ngIf="!t.isUpdating">{{t.name}}</span>
                <span *ngIf="t.isUpdating">
                    <input type="text" name="newTask" #newTask>
                    <button type="submit" (click)="handleChange(t.name,newTask.value)">Save</button>
                </span>
            </td>
            <td>
                <button (click)="handleRemove(t.name)">Remove</button>
                <button (click)="handleUpdate(t)">Update</button>
            </td>

        </tr>
    </tbody>
</table>

